.page_nav_container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.page_nav_items_container {
    display: inline-flex;
}

.page_nav {
    padding: 0px 2px;
}

.page_nav_btn {
    border: solid;
    border-width: 1px;
    min-width: 25px;
    display: block;
    padding: 2px;
    margin: 0px 2px;
}

.page_nav_cur_btn {
    background-color: darkgray;
}

.page_nav_ctrl_btn {
    width: 35px;
    flex: 1;
}

.page_nav_input {
    display: inline-flex;
    width: 40px;
    border: solid;
    border-width: 1px;
    padding: 2px;
}